@font-face {
    font-family: "Foundry Context";
    src: url("../font/Foundry.ttf");
}

body {
    margin: 0;
    padding: 3% 13%;
    background-color: #e9e9e9;
    font-family: "Foundry Context";
}

.page-title {
    display: block;
    margin-bottom: 20px;
    color: #8b8b8b;
}

.navigation > * {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 10px;
}

.container {
    min-height: 100vh;
    background-color: #ffffff;
    padding: 4% 8%;
}

.col > .rb-container {
    margin-bottom: 45px;
}

.circle-btn {
    border-radius: 50%;
    border: none;
    background-color: #ffffff;
    padding: 8px 10px;
    box-shadow: 0 1px 4px rgba(160, 160, 160, 0.3);
    cursor: pointer;
}

.navigation > h2 {
    margin-left: 16px;
    display: inline;
}

.content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
}

.col {
    flex: 0 0 50%;
    max-width: 45%;
}

@media (max-width: 1024px) {
    .content .col {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    body {
        padding: 3% 1%;
    }
}

@media (max-width: 1455px) {
    body {
        padding: 3% 4%;
    }
}

.rounded-btn {
    padding: 5px 20px;
    border: none;
    background-color: #7c1350;
    color: #ffffff;
    border-radius: 5px;
    float: right;
    cursor: pointer;
}

.card {
    padding: 15px 40px;
    box-shadow: 0 1px 4px rgba(97, 97, 97, 0.3);
    border-radius: 7px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.card > .left-centent {
    width: 50%;
}

.card > .right-content {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-centent > p {
    color: rgb(99, 99, 99);
    margin-top: 0;
}

.left-centent > h3 {
    margin-bottom: 5px !important;
}

.pricing {
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.pricing > .price {
    font-size: 22px;
    font-weight: bold;
}

.label {
    background-color: black;
    padding: 3px 18px;
    color: #ffffff;
}

.amount {
    display: flex;
    margin-bottom: 10px;
}

.amount > * {
    background-color: black;
    color: #ffffff;
    padding: 4px 10px;
    border: none;
}

.mins-btn {
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    cursor: pointer;
}

.plus-btn {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    cursor: pointer;
}

.right-content > button {
    padding: 2% 6%;
    border-radius: 10px;
    border: none;
    background-color: #ffffff;
    box-shadow: 0 1px 4px rgba(97, 97, 97, 0.3);
    cursor: pointer;
    font-weight: bold;
}

.pink-title {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #7c1350;
}

.sc-container {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}

.small-card {
    width: 30%;
    box-shadow: 0 1px 4px rgba(97, 97, 97, 0.3);
    border-radius: 7px;
}

.small-card > div {
    padding: 0 18px;
}

.small-card > div > span {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    color: rgb(99, 99, 99);
    margin-bottom: 5px;
}

.sc-pricing {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 10px;
}

.sc-pricing > .symbol {
    color: rgb(29, 247, 29);
}

.card3 {
    box-shadow: 0 1px 4px rgba(97, 97, 97, 0.3);
    border-radius: 7px;
    padding: 18px;
}

.card3 > div {
    display: flex;
    justify-content: space-between;
}

.card3 > div > .title {
    font-size: 16px;
    font-weight: bold;
    color: #7c1350;
    text-transform: uppercase;
}

.card3 > div > .link {
    color: #7c1350;
    cursor: pointer;
}

.card3 > div {
    margin-bottom: 10px;
}

.card3 > span {
    color: rgb(99, 99, 99);
}

.recipe {
    margin-top: 30px;
}

.collapse-btn {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #7c1350;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-family: "Foundry Context";
}

.recipe > div {
    padding: 30px 25px;
}

.recipe > div > .data {
    display: flex;
    justify-content: space-between;
}

.data {
    margin-bottom: 5px;
}

.gray {
    color: rgb(145, 145, 145);
}

.big-btn {
    width: 100%;
    border: none;
    border-radius: 2px;
    padding: 20px 20px;
    background-color: #7c1350;
    font-size: 22px;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    font-family: "Foundry Context";
}
